html {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
	--dark-color: #1f2937;
    --medium-color: #e5e7eb;
    --light-color: #f9faf8;
    --accent-color: #3882f6;
}

.container {
    max-width: 1280px;
    margin: auto;
    padding: 64px 32px;
}

header {
    background-color: var(--dark-color);
}

header .container {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: 700;
    color: var(--light-color);
}

header .nav {
    list-style: none;
    color: var(--light-color);
    display: flex;
    gap: 32px;
}

.nav a {
    font-size: 18px;
    font-weight: 100;
    color: var(--medium-color);
    text-decoration: none;
    cursor: pointer;
}

.hero {
    background-color: var(--dark-color);
}

.hero .container {
    display: flex;
    gap: 32px;
}

.hero .left {
    flex: 1 1 45%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.hero .right {
    flex: 1 1 55%;
}

.hero .left h1 {
    font-size: 48px;
    font-weight: 900;
    color: var(--light-color);
    line-height: 1;
}

.hero .left p {
    font-size: 18px;
    color: var(--medium-color);
    font-weight: 100;
    line-height: 1.33;
}

.hero .left button {
    background-color: var(--accent-color);
    color: var(--light-color);
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    cursor: pointer;
    font-size: 18px;
}

.hero .right img{
    width: 100%;
}

.info {
    background-color: var(--light-color);
    text-align: center;
}

.info .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: var(--dark-color);
    margin-bottom: 32px;
}

.info .cards-container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.info .card {
    width: 200px;
    color: var(--accent-color);
    border: 3px solid var(--accent-color);
    border-radius: 18px;
    padding: 8px 8px 16px 8px;
}

.info .card img {
    width: 100%;
}

.info .card p {
    font-size: 16px;
}

.quote {
    background-color: var(--medium-color);
    padding: 90px 64px 80px 64px;
}

.quote-container {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--dark-color);
}

.quote-container .text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    line-height: 1.33;
}

.quote-container .author {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 700;
}

.sign-up {
    background-color: var(--light-color);
}

.message-container {
    background-color: var(--accent-color);
    padding: 32px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    color: var(--light-color);
}

.message-container h3 {
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 4px;
}

.message-container p {
    font-size: 18px;
    color: var(--light-color);
    font-weight: 100;
}

.sign-up button {
    background-color: var(--accent-color);
    color: var(--light-color);
    border: 2px solid var(--light-color);
    border-radius: 8px;
    padding: 8px 32px;
    cursor: pointer;
    font-size: 18px;

    flex-shrink: 0;
}

footer {
    background-color: var(--dark-color);
    padding: 32px;
}

footer p {
    color: var(--medium-color);
    font-size: 14px;
    font-weight: 100;
    text-align: center;
}