html {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
	--dark-color: #1f2937;
    --medium-color: #e5e7eb;
    --light-color: #f9faf8;
    --accent-color: #3882f6;
}

.container {
    max-width: 1280px;
    margin: auto;
}

header {
    background-color: var(--dark-color);
}

header .container {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: 700;
    color: var(--light-color);
}

header .nav {
    list-style: none;
    color: var(--light-color);
    display: flex;
    gap: 32px;
}

.nav a {
    font-size: 18px;
    font-weight: 100;
    color: var(--medium-color);
    text-decoration: none;
    cursor: pointer;
}

.hero {
    background-color: var(--dark-color);
}

.hero .container {
    padding: 64px 32px;
    display: flex;
    gap: 32px;
}

.hero .left {
    flex: 1 1 45%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.hero .right {
    flex: 1 1 55%;
}

.hero .left h1 {
    font-size: 48px;
    font-weight: 900;
    color: var(--light-color);
    line-height: 1;
}

.hero .left p {
    font-size: 18px;
    color: var(--medium-color);
    font-weight: 100;
    line-height: 1.33;
}

.hero .left button {
    background-color: var(--accent-color);
    color: var(--light-color);
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    cursor: pointer;
    font-size: 18px;
    
}

.hero .right img{
    width: 100%;
}